*.html
*.png
*.log
*.xlsx
__marimo__/
__pycache__/
Back Testing/
Raw Files/
Other/
Logs/
Training and Results/
Archived Code/
Config/
S734DK1A8_6261GL/
SQL/
Data/Webscraping
Data/Integrated
Data/JSE Listed Instruments
Data/Results
Data/Old Data
.devcontainer/
.vscode/
.gitignore
.env
*.ipynb
Documentation/lstm results.csv
api_debug.py
